name: CI Pipeline

on:
    pull_request:
        branches:
            - main

jobs:
    prettier-check:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Run Prettier Check
              run: npm run prettier:check

    test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Run Tests
              run: npm run test
              env:
                  PORT: 3000
                  SALT: 10
                  JWT_SECRET: test-secret-key
                  POSTGRES_USER: postgres
                  POSTGRES_PASSWORD: postgres
                  POSTGRES_HOST: localhost
                  POSTGRES_DB: test-db
                  POSTGRES_DB_PORT: 5432
                  CLOUDINARY_URL: cloudinary://test:test@test
                  FRONTEND_CORS_ORIGIN: http://localhost:3000
